<div class="row">
  <div class="col-md-6 offset-md-3">
    <p>
    <h2>Смена пароля</h2>
    <hr>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      {{ error }}
      <div class="form-group">
        <label for="oldPassword">Старый пароль</label>
        <input class="form-control" type="password" [(ngModel)]="model.OldPassword" name="oldPassword" formControlName="oldPassword">
      </div>
      <div class="form-group">
        <label for="password">Пароль</label>
        <input class="form-control" type="password" [(ngModel)]="model.Password" name="password" formControlName="password">
      </div>
      <div class="form-group">
        <label for="confirmPassword">Подтверждение пароля</label>
        <input class="form-control" type="password" [(ngModel)]="model.ConfirmPassword" name="confirmPassword" formControlName="confirmPassword">
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">
        Сохранить
      </button>
    </form>
  </div>
</div>
