<div class="row">
  <div class="col-md-6 offset-md-3">
    <p>
    <h2>Вход</h2>
    <hr>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      {{ error }}
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="email" [(ngModel)]="model.Email" name="email" formControlName="email">
      </div>
      <div class="form-group">
        <label for="password">Пароль</label>
        <input class="form-control" type="password" [(ngModel)]="model.Password" name="password" formControlName="password">
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">
        Войти
      </button>
    </form>
    <hr>
    <a routerLink="/register">Регистрация</a>
  </div>
</div>
