<div class="row">
  <div class="col-md-6 offset-md-3">
    <p>
      <h2>Информация о папке</h2>
      <hr>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="model">
        {{ error }}
        <div class="form-group">
          <label for="name">Имя папки</label>
          <input class="form-control" type="text" [(ngModel)]="model.Name" name="name" formControlName="name">
        </div>
        <div class="form-group">
          <label for="access">Доступ</label>
          <select class="form-control" [(ngModel)]="model.Access" name="access" formControlName="access">
            <option [ngValue]="1">Закрытый</option>
            <option [ngValue]="2">Открытый</option>
          </select>
        </div>
      <div class="form-group">
        <label for="description">Описание</label>
        <textarea class="form-control" required="" [(ngModel)]="model.Description" name="description" formControlName="description"></textarea>
      </div>
      <div class="form-group">
        <label>Владелец: {{ model.User }}</label>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Сохранить</button>
    </form>
  </div>
</div>