<div class="row">

  <div class="col-md-10 offset-md-1">
    <p>
    <h2>Файлы</h2>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <a href="#" (click)="fullSearchClick($event)">Расширенный поиск</a>
      </div>
      <div class="col-md-6 row">
        <input *ngIf="!fullSearch" [(ngModel)]="query" type="text" class="form-control col-md-8" id="searchShort" placeholder="Поиск..">
        <button *ngIf="!fullSearch" (click)="onShortSearch($event)" class="btn btn-secondary col-md-4">Искать</button>
      </div>
    </div>
    <form *ngIf="fullSearch">
      <p>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon">
          <i class="fa fa-search" aria-hidden="true"></i>
        </div>
        <input type="text" name="query" [(ngModel)]="search.Query" class="form-control" id="searchFull" placeholder="Поиск..">
      </div>
      <p>
      <div class="row">
        <div class="col-md-6">

          <div class="row">
            <div class="form-check col-md-6">
              <label class="form-check-label">
                <input [(ngModel)]="search.InName" name="in-name" type="checkbox" class="form-check-input">
                Искать в имени
              </label>
            </div>
            <div class="form-check col-md-6">
              <label class="form-check-label">
                <input [(ngModel)]="search.InType" name="in-type" type="checkbox" class="form-check-input">
                Искать в типе
              </label>
            </div>
          </div>

          <div class="form-group">
            <label for="addDateFrom">Дата добавления (от):</label>
            <input [(ngModel)]="search.DateCreatedFrom" class="form-control" type="datetime-local" name="addDateFrom">    
          </div>

          <div class="form-group">
            <label for="changeDateFrom">Дата изменения (от):</label>
            <input [(ngModel)]="search.DateChangedFrom" class="form-control" type="datetime-local" name="changeDateFrom">    
          </div>

        </div>
        <div class="col-md-6">
          
          <div class="form-check">
            <label class="form-check-label">
              <input [(ngModel)]="search.InDescription" name="in-desc" type="checkbox" class="form-check-input">
              Искать в описании
            </label>
          </div>

          <div class="form-group">
            <label for="addDateTo">Дата добавления (до):</label>
            <input [(ngModel)]="search.DateCreatedTo" class="form-control" type="datetime-local" name="changeDateTo">
          </div>

          <div class="form-group">
            <label for="addDateTo">Дата изменения (до):</label>
            <input [(ngModel)]="search.DateChangedTo" class="form-control" type="datetime-local" name="changeDateTo">
          </div>

        </div>
      </div>
      <button (click)="onFullSearch($event)" type="submit" class="btn btn-primary">Искать</button>
    </form>

    <p>

    <table class="table" *ngIf="model">
      <thead>
        <tr>
          <th>Имя</th>
          <th>Изменено</th>
          <th>Доступ</th>
          <th>Действие</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let folder of model.Folders">
          <tr>
            <td>
              <i class="fa fa-folder-o fa-lg" aria-hidden="true"></i>
              <a routerLink="/box/{{ folder.Id }}">{{ folder.Name }}</a>
            </td>
            <td>--</td>
            <td *ngIf="folder.Access == 1">Закрытый</td>
            <td *ngIf="folder.Access == 2">Открытый</td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Выбрать..
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" routerLink="/folder/{{ folder.Id }}">Описание</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#" (click)="onFolderDelete($event, folder.Id)">Удалить</a>
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngFor="let file of model.Files">
          <tr>
            <td>
              <i class="fa fa-file-o fa-lg" aria-hidden="true"></i>
              {{ file.Name }}
            </td>
            <td>{{ file.DateChanged | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
            <td *ngIf="file.Access == 1">Закрытый</td>
            <td *ngIf="file.Access == 2">Открытый</td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Выбрать..
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="http://localhost:15225/download/{{ file.Id }}">Скачать</a>
                  <a class="dropdown-item" routerLink="/file/{{ file.Id }}">Описание</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#" (click)="onFileDelete($event, file.Id)">Удалить</a>
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>

    </table>

   <hr>
   <div *ngIf="model">
    <a class="btn btn-primary" routerLink="/addfile/{{ model.Id }}">Добавить файл</a>
    <a class="btn btn-primary" routerLink="/addfolder/{{ model.Id }}">Добавить папку</a>
   </div>

  </div>
</div>