<div class="row">
  <div class="col-md-6 offset-md-3">
    <p>
      <h2>Добавление файла</h2>
      <hr>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        {{ error }}
        <div class="form-group">
          <label for="name">Имя файла</label>
          <input class="form-control" type="text" [(ngModel)]="model.Name" name="name" formControlName="name">
        </div>
        <div class="form-group">
          <label for="access">Доступ</label>
          <select class="form-control" [(ngModel)]="model.Access" name="access" formControlName="access">
            <option [ngValue]="1">Закрытый</option>
            <option [ngValue]="2">Открытый</option>
          </select>
        </div>
      <div class="form-group">
        <label for="description">Описание</label>
        <textarea class="form-control" [(ngModel)]="model.Description" name="description" formControlName="description"></textarea>
      </div>
      <div class="form-group">
        <label for="file">Файл</label>
        <input class="form-control" type="file" name="file" (change)="fileChange($event)">
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Добавить</button>
    </form>
  </div>
</div>
