<div class="row">
  <div class="col-md-6 offset-md-3">
    <p>
    <h2>Личный кабинет</h2>
    <hr>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      {{ error }}
      <div class="form-group">
        <label for="fullName">ФИО</label>
        <input class="form-control" type="text" [(ngModel)]="model.FullName" name="fullName" formControlName="fullName">
      </div>
      <div class="form-group">
        <label for="file">Фото</label>
        <p>
        <img src="http://localhost:15225/photo" height="200px" onerror="this.style.display='none'">
        <p>
        <input class="form-control" type="file" name="file" (change)="fileChange($event)">
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Сохранить</button>
    </form>
    <hr>
    <a routerLink="/changepassword">Смена пароля</a>
  </div>
</div>
